# Basics

In [1]:
print("Hello World!")

Hello World!

In [ ]:
#by default end fn in print is \n

In [4]:
print('Hello', end='\n')
print('world')

Hello
world

In [ ]:
#but we can change default setting

In [5]:
print('Hello', end='|')
print('world')

Hello|world

In [2]:
print(10+3)

13

In [4]:
# demonstration of comparison operators
# >, <, <=, >= , ==, !=(not equal to)

print(3 == 3)
print(2 != 3)

True
True

In [ ]:
# // double division gives integer values of divisions
# % gives remainder

In [7]:
x = 10
y = 3
z = x//y
print(z)

3

In [5]:
# logical operators
# and if both condition true then only give true else flase

(3 < 2) and (5 < 10)

False

In [6]:
(3 < 2) or (5 < 10)

True

In [7]:
#not changes values to opposites
not (3 > 2)

False

In [ ]:
#and or not execution order -> ""and>or>not""

In [6]:
True and False or True

True

In [8]:
N1 = float(input("enter first number: "))
N2 = float(input("enter second number: "))

sum_result = N1 + N2
print("Sum: ", int(sum_result))

enter first number:  2
enter second number:  3.5

Sum:  5

In [9]:
N1 = float(input("enter first number: "))
N2 = float(input("enter second number: "))

sum_result = N1 + N2
print("Sum: ", float(sum_result))

enter first number:  2
enter second number:  3.5

Sum:  5.5

In [10]:
print(type(2))
print(type('Shubham'))
print(type(5.4))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
# true and false are boolean values in python
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [12]:
# assigning values to variables

height = 5.4
weight = 65

In [13]:
print(type(height))

<class 'float'>

we have define the value of height as 5.4, so now its type will be float

In [14]:
print(height)

5.4

In [9]:
type(-12 + 100)

int

In [10]:
#cpmplex values use j only, other alphabet will give error
type(12 + 3j)

complex

# List
ordered, mutable, heterogeneous, contains duplicate

In [15]:
# creating list with names of students

print(type(['rahul', 'Ajay', 'Nilesh']))

<class 'list'>

In [16]:
#assigning variable a value of list
names_of_students = ['rahul', 'Ajay', 'Nilesh']

In [17]:
print(type(names_of_students))

<class 'list'>

In [18]:
#in list indexing start from 0, ex rahul have index 0 position
names_of_students[0]

'rahul'

In [19]:
#names_of_students[3] wont work bcz index 3, means 4th element is out of range

In [20]:
print(names_of_students)

['rahul', 'Ajay', 'Nilesh']

In [21]:
names_of_students.append('geeta')

In [22]:
print(names_of_students)

['rahul', 'Ajay', 'Nilesh', 'geeta']

In [23]:
#append add values at the right end, insert allows us to add any fixed index value

names_of_students.insert(3, 'sakshi')

In [24]:
print(names_of_students)

['rahul', 'Ajay', 'Nilesh', 'sakshi', 'geeta']

In [25]:
del(height)
#now we have deleted variable height

In [26]:
#print(height) will give error bcz it deleted

In [27]:
del(names_of_students[0])

In [28]:
print(names_of_students)

['Ajay', 'Nilesh', 'sakshi', 'geeta']

In [29]:
[1 , 2.5, 'shubh', True]

[1, 2.5, 'shubh', True]

In [30]:
all_ones = [1, 1, 1, 1]

In [31]:
# instead of append/insert we can use extend w/ another list
all_ones.extend([5,5,5,5,5,])
all_ones

[1, 1, 1, 1, 5, 5, 5, 5, 5]

In [32]:
# pop() will popout last element and remove it
# pop(3) will remove 4th element
print(all_ones.pop())
print(all_ones)

5
[1, 1, 1, 1, 5, 5, 5, 5]

In [33]:
x = [4, True, 'hi']
y = x
x[0] = 'hello'
print(x,y)   
# x does not store the values of list, it just made reference to it, thats why updating it after assigning y, affect y as well

['hello', True, 'hi'] ['hello', True, 'hi']

In [34]:
x = [4, True, 'hi']
y = x[:]
x[0] = 'hello'
print(x,y)   
#now y is storing output values of list of x, and now changing x wont affect it

['hello', True, 'hi'] [4, True, 'hi']

In [35]:
#can have list,tuple within list
x = [[1,2], (3,4), [[5,6],[7,8],[9,0]], True]

In [11]:
nest_list = ['vanilla' , 3, ['scoops', 'spoon'], True]

In [12]:
nest_list[2]

['scoops', 'spoon']

In [13]:
nest_list[2][1]

'spoon'

# Tuples
 ordered, unmutable, heterogeneous, contains duplicate

In [2]:
tuple_of_names = ('Ajay', 'Priyanka', 'Sakshi', 'Geeta')

In [37]:
print(type(tuple_of_names))

<class 'tuple'>

In [38]:
tuple_of_names[0]

'Ajay'

In [56]:
tuple_of_names[1]= "Akshat"

TypeError: 'tuple' object does not support item assignment

In [40]:
names_of_students[1]="Akshat"

In [41]:
print(names_of_students)

['Ajay', 'Akshat', 'sakshi', 'geeta']

In [57]:
del(tuple_of_names[1])

TypeError: 'tuple' object doesn't support item deletion

# Set
cant have duplicate values and not ordered, 
on printing set only unique values will be returned

In [44]:
daily_pints = {1,2,3}

In [15]:
type(daily_pints)

set

In [16]:
daily_pints_log = {1,2,3,4,5,6,31,5,6}

In [17]:
wifes_daily_pints_log = {1,3,5,7,3,24,5,7,3,2,0}

In [45]:
#cobine unique values from either sets # just like union

print(daily_pints_log | wifes_daily_pints_log )

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [19]:
#cobine unique values from 2 sets # just like intersection

print(daily_pints_log & wifes_daily_pints_log )

{1, 2, 3, 5}

In [20]:
#values that are in daily pints but not in wifes daily pints i.e. non-commmon values from daily_pints_log

print(daily_pints_log - wifes_daily_pints_log )

{4, 6, 31}

In [21]:
#values that are in daily pints but not in wifes daily pints i.e. non-commmon values from wifes_daily_pints_log


print( wifes_daily_pints_log - daily_pints_log )

{0, 24, 7}

In [22]:
#printing all values that are not coomon from both sets # works like difference

print( wifes_daily_pints_log ^ daily_pints_log )

{0, 4, 6, 7, 24, 31}

In [23]:
#to create empty set do not use x= {}, it will create empty dictionary
# for empty set use x = set()

In [24]:
s = {2,5,4,3}
s

{2, 3, 4, 5}

In [25]:
s.add(6)
s

{2, 3, 4, 5, 6}

In [26]:
s.remove(5)

In [27]:
print(s)
print(5 in s)

{2, 3, 4, 6}
False

# Dictionaries

In [28]:
dict_cream = {'name': 'Alex freberg', 'Weekly intake': 5, 'favourite ice creams': ['MCC','Chocolate']}

In [29]:
type(dict_cream)

dict

In [30]:
dict_cream.values()

dict_values(['Alex freberg', 5, ['MCC', 'Chocolate']])

In [31]:
dict_cream.keys()

dict_keys(['name', 'Weekly intake', 'favourite ice creams'])

In [32]:
dict_cream.items()

dict_items([('name', 'Alex freberg'), ('Weekly intake', 5), ('favourite ice creams', ['MCC', 'Chocolate'])])

In [33]:
#printing keys in list format
print(list(dict_cream.keys()))

['name', 'Weekly intake', 'favourite ice creams']

In [34]:
#in dictionaries index type system not work
dict_cream[0]

KeyError: 0

In [35]:
dict_cream['name']

'Alex freberg'

In [36]:
dict_cream['name'] = 'chris freberg'
print(dict_cream)

{'name': 'chris freberg', 'Weekly intake': 5, 'favourite ice creams': ['MCC', 'Chocolate']}

In [37]:
#update 
# using update you cant replace key/values just add the key/value pair at the end
# but if you just change values for the same key then it will only update that value and not key

dict_cream.update({'name': 'chris freberg', 'Weekly intake': 10, 'weight': 300})
print(dict_cream)

{'name': 'chris freberg', 'Weekly intake': 10, 'favourite ice creams': ['MCC', 'Chocolate'], 'weight': 300}

In [38]:
del dict_cream['weight']
print(dict_cream)

{'name': 'chris freberg', 'Weekly intake': 10, 'favourite ice creams': ['MCC', 'Chocolate']}

# Change datatype

In [46]:
list_type = [1,2,3]
type(list_type)

list

In [47]:
type(tuple(list_type))

tuple

In [48]:
list_type = [1,2,3,2,1,2,3,2,1,2]

In [49]:
#chnaging data type to set will only select unique values and thats why change data, so be carefull
set(list_type)

{1, 2, 3}

In [50]:
long_str = 'I like to party'
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [51]:
set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}

# membership operators
values present in the object or not

In [40]:


ice_cream = 'i love chocolate ice cream'

'love' in ice_cream

True

In [39]:
scoops = [1,2,3,4,5]

In [41]:
6 not in scoops

True

In [42]:
scoops = [1,2,3,4,5]
wanted_scoops = 8

wanted_scoops not in scoops

True

# Slicing values from list and tuples

In [43]:
# just like range [start:stop:step]

In [44]:
print(names_of_students[0], names_of_students[1], names_of_students[2])

Ajay Akshat sakshi

In [45]:
#in slicing 0 is included and 3 is not, means 0,1,2 will be showen and not index value 3
names_of_students[0:3]

['Ajay', 'Akshat', 'sakshi']

In [46]:
top_3_students = names_of_students[0:3]

In [47]:
print(type(top_3_students))

<class 'list'>

In [48]:
type(top_3_students)

list

In [49]:
print(top_3_students)

['Ajay', 'Akshat', 'sakshi']

In [50]:
names_of_students[0:3:2]

['Ajay', 'sakshi']

In [51]:
tuple_of_names[0:2]

('Ajay', 'Priyanka')

In [58]:
x = [1,2,3,4,5,6,7,8,9]

In [59]:
x[::-1] # start from 0, stop at end, and stepping backwards

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
#reversing like this also works on string
s = 'hello'
s[::-1]

'olleh'

In [3]:
tuple_of_names[::-1]

('Geeta', 'Sakshi', 'Priyanka', 'Ajay')

# Comprehension

In [61]:
x = [x for x in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [62]:
x = [x +5 for x in range(5)]
print(x)

[5, 6, 7, 8, 9]

In [63]:
x = [0 for x in range(5)]
print(x)

[0, 0, 0, 0, 0]

In [66]:
x = [x % 5 for x in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [68]:
x = [i for i in range(100) if i%5 == 0]
x

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# extra

In [52]:
X = input("Enter a value: ")

# Determine the data type of the value
data_type = type(X)

# Print a message indicating the data type
print("The entered value is of type:", data_type)

Enter a value:  ll

The entered value is of type: <class 'str'>

In [53]:
# Prompt the user to enter a string
string = input("Enter a string: ")

# Print the length of the string
length = len(string)
print("Length of the string:", length)

# Convert the string to uppercase and print the result
uppercase = string.upper()
print("Uppercase string:", uppercase)

# Check if the string contains only alphabetic characters and print the result
is_alphabetic = string.isalpha()
print("Contains only alphabetic characters:", is_alphabetic)

Enter a string:  ttttt

Length of the string: 5
Uppercase string: TTTTT
Contains only alphabetic characters: True

In [54]:
# Create an empty list
my_list = []

# Append elements to the list
my_list.append(10)
my_list.append(20)
my_list.append(30)

# Remove an element from the list
my_list.remove(20)

# Access elements by index
print("Element at index 0:", my_list[0])

# Slice the list to extract a sublist
sub_list = my_list[1:]
print("Sublist:", sub_list)

# Sort the list in ascending order
my_list.sort()
print("Sorted list:", my_list)

Element at index 0: 10
Sublist: [30]
Sorted list: [10, 30]

In [55]:
# Prompt the user to enter two tuples
tuple1 = tuple(input("Enter the first tuple elements (separated by commas): ").split(","))
tuple2 = tuple(input("Enter the second tuple elements (separated by commas): ").split(","))

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

# Prompt the user to enter a specific element
element = input("Enter a specific element to check for its existence: ")

# Check if the specific element exists in either of the tuples
element_exists = element in tuple1 or element in tuple2
print("Element exists:", element_exists)

Enter the first tuple elements (separated by commas):  20,30,40
Enter the second tuple elements (separated by commas):  20,30,50

Concatenated tuple: ('20', '30', '40', '20', '30', '50')

Enter a specific element to check for its existence:  30

Element exists: True